
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://darvigdsd.github.io/media/Bootstrap/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

* {
    cursor: default;
}

body, head {
    padding: 0;
    margin: 0;
    z-index: 1;
}

body {
    background: linear-gradient(180deg, #0A1520 0%, #0A2B49 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    padding: 18px;
    border-radius: 0;
    border: none;
    background: #277DCC;
    box-shadow: 0px 0px 50px rgba(39, 125, 204, 0.25);
    font-size: 20px;
    font-family: 'Inter';
    font-size: 400;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
button.gs {
    width: 100%;
}
button.err {
    animation: err 0.8s linear;
}
@keyframes err {
    from {
        background: #E92C4E;
        box-shadow: 0px 4px 50px rgba(233, 44, 78, 0.25);
    }
    50% {
        background: #E92C4E;
        box-shadow: 0px 4px 50px rgba(233, 44, 78, 0.25);
    }
    80% {
        background: #E92C4E;
        box-shadow: 0px 4px 50px rgba(233, 44, 78, 0.25);
    }
    to {
        background: #277DCC;
        box-shadow: 0px 0px 50px rgba(39, 125, 204, 0.25);
    }
}

.bomb {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    padding: 45px;
    text-align: left;
    background: rgba(0, 0, 0, 0);
    color: #010F32;
    align-items: center;
}

.bomb .b {
    display: inline-block;
    margin-right: auto;
    margin-left: 0;
}
.bomb .img {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}
.bomb .img img {
    transition: 0.2s all;
    height: 320px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.bomb span {
    font-size: 35px;
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    display: block;
    margin: 0 auto;
    position: relative;
}

input {
    width: 100%;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    color: white;
    border-radius: 0;
    background: #081A2B;
    border: none;
    padding: 18px;
    display: block;
    margin-top: 20px;
}
.bomb input:focus {
    outline: none;
}
.bomb input::placeholder {
    color: rgba(255,255,255, 0.5);
}

#error {
    display: none;
    width: auto;
    height: auto;
    font-size: 20pt;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    background: #F13F5F;
    padding: 25px;
}
#error.active {
    display: block;
}

@media(max-width: 1050px) {
    .bomb .img img {
        height: 250px;
    }
    @media (max-width: 960px) {
        .bomb .img img {
            display: none;
        }
    }
    @media (max-width: 385px) {
        .bomb span {
            font-size: 25px;
        }
    } 
}